body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.container{
  margin: 0px 90px;
}

.header {
	height: 10%;
	background-color: #fff;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

  padding-top: 2%;
  padding-bottom: 2%;
}

.nav {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 23px;
}


.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 1vw;

	text-decoration: none;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #8C8C8C;
  text-decoration: none;

  transition: color 0.1s ease-in;

	
}

.nav_link:hover {
	color: #333333;
	font-weight: 700;
  animation: font-weight-animation 0.1s ease-in;
}

.nav_link:active{
  color: #FD890A;
}

/* анимация плавного увеличения жирности текста в меню при наведении */
@keyframes font-weight-animation {
  from {
    font-weight: 400;
  }
  to {
    font-weight: 700;
  }
}

.catalog{
  background-color: #F7F7F7;
  height: 100%;

  padding-bottom: 5%;
}

.catalog-title{
  text-align: left;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 150%;  
  color: #333333;
  padding-top: 2%;
  padding-bottom: 4%;
}

.catalog-holder{
  margin: 0px 4.6875vw;
}

/* поле поиска */

* {box-sizing: border-box;}
.search {
  position: relative;
  width: 40%;
  /* margin: 0 auto; */

  background: #FFFFFF;
  border: 1px solid #E5E5E5;

  box-shadow: 0px 1.23485px 12.3485px rgba(0, 0, 0, 0.21);
  border-radius: 13px;
}

.search-line{
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.filters {
    padding-top: 1vh;
}

.first_filter_btn {
    padding: 1% 2% 1%;
    display: block;
    margin: 1vh 0 0 9vw;
    min-width: 3vw;
    border-radius: 10px;
    color: white;
    background: linear-gradient(180deg, #FFA218 0%, #FC8507 100%);

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
}

.first_filter_btn:hover {
    transition: all 0.2s;
    background: linear-gradient(180deg, #FFB74D 0%, #FFB74D 28.13%, #FC8507 100%);
    cursor: pointer;
}


.first_filter, .second_filter, .third_filter {
    width: 11vw;
}


input, button {
  border: none;
  outline: none;

}

button{
  border: none;
  outline: none;
  background-color: transparent;
}


input[class=catalog-input] {
  width: 100%;
  height: 2rem;
  padding-left: 15px;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 100%;

  color: #333333;
  border-radius: 13px;
}

select{
  width: 17%;
  height: 30%;
}

/* человек */

.catalog-list{
  margin-top: 4%;
}

.catalog-person{

  position:relative;
  border: 1px solid #8C8C8C;
  border-style: solid none;
  padding-top: 3%;
  padding-bottom: 3%;
}

.catalog-person-image{
  margin-right: 3%;
}

.catalog-person-img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;

}

.catalog-person-info{

  margin-right: 30%;

}

.catalog-person-name{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 200%;

  color: #333333;
}

.catalog-person-fields{
  margin-top: 0.5%;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 150%;

  color: #333333;
}

.catalog-person-stats{
  margin-top: 1%;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 150%;

  display: block;
  align-items: center;

  color: #333333;
}

.catalog-person-experience{
  display: flex;
  width: 50vw;
}

.catalog-person-money{
  display: flex;
  width: 50vw;
}

.catalog-person-helped{
  display: flex;
  width: 50vw;
}

.catalog-person-exp{
  font-weight: 400;
}

.catalog-person-mon{
  font-weight: 400;
}

.catalog-person-help{
  font-weight: 400;
}

.person-holder{
  display: flex;
  align-items: center;
}

.person-right{
  display: flex;
  align-items: center;
  left: 3%;
}




.catalog-button{
  display: flex;
  align-items: center;
  position:absolute;
  width: 330px;
  height: 55.24px;

  right: -4%;
}

.message{
  display:none;
}
    
.catalog-btn{
  position:absolute;

  font-family: 'PT Sans';
  font-size: 2.5vb;
  background: linear-gradient(180deg, #FFA218 0%, #FC8507 100%);
  padding: 1.5% 7%;
  border-radius: 1vb;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
}

.catalog-btn:hover {
  transition: all 0.2s;
  background: linear-gradient(180deg, #FFB74D 0%, #FFB74D 28.13%, #FC8507 100%);
  cursor: pointer;
}


/* адаптивка */

.burger-menu{
  display: none;
}

.block{
  display: block;
  margin-bottom: 5%;
}

.burger-slide{
  position: absolute;

  background: #F7F7F7;
  box-shadow: 0px 1.23485px 12.3485px rgba(0, 0, 0, 0.21);

  border-radius: 15px;
  
}



.disp{
  display: none;
}


@media (max-width: 994px) {

  .burger-menu{
    display: block;
  }

  .nav{
    display: none;
  }

  .header-inner{
    display: flex;
  }

  .message{
    display:block;
  }

  .message-text{
    display: none;
  }

  .catalog-btn{

  
    background: none;

    right: 15%;
    
  }

}

@media (max-width: 520px){


  .catalog-person-img{
    height: 5%;
    width: 5%;
    border-radius: 50%;
    object-fit: cover;
  
  }

}




.footer{
  height: 20vh;
  background-color: #F7F7F7;
  text-align: center;
  padding: 5% 0 15% 0;
  font-family: 'PT Sans';
  font-size: 3vb;
  font-weight: 500;
}

@media screen and (max-width: 880px){
  .inquiry-top{
    grid-template-columns: 1fr;
  }

  .inquiry-box{
    max-width: 500px;
  }
}

.links{
          text-decoration: none;
          color: #FD890A;
        }
