<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>DNS Mentor</title>

    <!--       <link rel="stylesheet" href="styles/css/catalog1.css">-->
    <link rel="stylesheet" href="{% static 'styles\css\catalog1.css' %}">

    <!--       <link rel="stylesheet" href="styles/css/inquiry.css">-->
    <link rel="stylesheet" href="{% static 'styles/css/inquiry.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!--      <script type="text/javascript" src="styles/js/multiselect-dropdown.js"></script>-->
    <script type="text/javascript" src="{% static 'styles/js/multiselect-dropdown.js' %}"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

</head>
<body>


<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="header_logo">
                <!--                           <a href="index.html" class="nav_logo"><img src="styles/images/logo.svg"></a>-->
                <a href="index.html" class="nav_logo"><img src="{% static 'styles/images/logo.svg' %}"></a>
            </div>
            <nav class="nav">
                <a class="nav_link" href="catalog.html">Каталог</a>
                <a class="nav_link" href="#" id="open_pop_up">Стать ментором</a>
            </nav>

            <div class="burger-menu">

                <button id="burger">
                    <!--                <img src="styles/images/menu-icon.svg" alt="">-->
                    <img src="{% static 'styles/images/menu-icon.svg' %}" alt="">
                </button>


                <div id="menu" class="burger-slide disp">
                    <a class="nav_link block" href="catalog.html">Каталог</a>
                    <a class="nav_link block" href="#" id="open_pop_up_burger">Стать ментором</a>
                </div>

            </div>
        </div>

        <div class="pop_up" id="pop_up">
            <div class="inquiry-box">
                <div class="inquiry-text">

                    <div class="inquiry-title">
                        Заполните анкету
                        <div class="pop_up_close" id="pop_up_close">&#10006</div>
                    </div>
                    <div class="inquiry-subtitle">
                        После отправления запроса мы его тщательно осмотрим. Если он будет принят, Вам придёт оповещение
                        в Telegram.
                    </div>
                </div>
                <form action="{% url 'full' %}" method="post" name="mentor">
                     {% csrf_token %}
                    <div class="inquiry-top">
                        <input type="text" name="first_name" class="field" placeholder="Имя" autocomplete="off">
                        <input type="text" name="last_name" class="field" placeholder="Фамилия" autocomplete="off">
                        <input type="email" name="email" class="field" placeholder="Your email" autocomplete="off">
                        <input type="text" name="telegram" class="field" placeholder="Telegram @" autocomplete="off">
                        <input type="text" name="price" class="field" placeholder="Цена услуги(в рублях)" autocomplete="off">
                        <input type="text" name="exp" class="field" placeholder="Опыт работы(начиная с 1, целое число)" autocomplete="off">
                    </div>

                    <div class="inquiry-bottom">
                        <input type="text" name="profession" class="field" placeholder="Сферы (перечислите через запятую)">
                        <input type="text" name="about_me" class="field" placeholder="Расскажите о себе">

<!--                        <label for="images" class="drop-container">-->
<!--                            <span class="drop-title">Перетащите фото</span>-->
<!--                            или-->
<!--                            <input type="file" id="images" accept="image/*" required>-->
<!--                        </label>-->

                        <div class="inquiry-button">
                            <button class="inquiry-btn" type="submit">Отправить заявку</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>

</header>

<div class="catalog">
    <div class="container">
        <div class="catalog-holder">

            <div class="catalog-title">Каталог менторов</div>

            <div class="search-line">

                <form class="search" action="{% url 'catalog' %}">
                    <input class="catalog-input" name="q" type="search"
                           placeholder="Искать по сфере, навыку или программе..." autocomplete="off">
                </form>

                <form class="filters">
                    <!--                    <ul class="first_filter">-->
                    <!--            <span class="first_filter">-->
                    {% csrf_token %}
                    <!--                {{ form.as_p  }}-->
                    <!--            </span>-->
                    <select class="first_filter" name="select" multiple multiselect-search="true"
                            multiselect-max-items="10" placeholder='Сфера'>
                        {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>

                    <select class="second_filter" name="select" multiple multiselect-search="true"
                            multiselect-max-items="10" placeholder='Цена'>
                        <option value="Undefined">По договорённости</option>
                        <option value="Free">Бесплатно</option>
                        <option value="Low">0-2999</option>
                        <option value="Medium">3000-5999</option>
                        <option value="High">6000 и более</option>
                    </select>

                    <select class="third_filter" name="select" multiple multiselect-search="true"
                            multiselect-max-items="10" placeholder='Опыт'>
                        <option value="Junior">1-2 года</option>
                        <option value="Middle">3-5 лет</option>
                        <option value="Senior">5+ лет</option>
                    </select>
                    <button class="first_filter_btn" type="submit">Применить фильтры</button>
                </form>
            </div>

            <div class="catalog-list">
                {% for mentor in mentors %}
                <div class="catalog-person">

                    <div class="person-holder">

                        <div class="person-right">
                            <div class="catalog-person-image">
                                <a href="{% url 'mentor' mentor.id %}">
                                    <!--                                                <img class="catalog-person-img" src="styles/images/placeholder-cat.jpg">-->
                                    <img class="catalog-person-img"
                                         src="{% static 'styles/images/placeholder-cat.jpg' %}" alt="">
                                </a>

                            </div>

                            <div class="catalog-person-info">
                                <div class="catalog-person-name">
                                    <!-- Максим Новиков -->
                                    {{ mentor.mentor_name }} {{ mentor.mentor_surname }}
                                </div>

                                <div class="catalog-person-fields">
                                    <!-- Дизайн, Backend, Data Science -->
                                    {{ mentor.sphere }}
                                </div>

                                <div class=catalog-person-stats>


                                    <div class="catalog-person-experience">
                                        Опыт:&nbsp;
                                        <div class="catalog-person-exp">{{ mentor.experience }} лет</div>
                                    </div>

                                    <div class="catalog-person-money">
                                        Оплата:&nbsp;
                                        <div class="catalog-person-mon">{{ mentor.price }}</div>
                                    </div>

                                    <div class="catalog-person-helped">
                                        Обратились:&nbsp;
                                        <div class="catalog-person-help">{{ mentor.number_of_rescued }} человек</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        Заявка юзера -->
                        <div class="catalog-button">
                            <!--                            СЮДА ЕЕ НАДО!!!! -->
                            <a class="catalog-btn" href="#" id="open_pop_up_a">
                                <!--                                            <img class="message" src="styles/images/message.png">-->
                                <img class="message" src="{% static 'styles/images/message.png' %}" alt="">
                                <div class="message-text">Оставить заявку</div>
                            </a>
                        </div>

                        <div class="pop_up_a" id="pop_up_a">
                            <div class="inquiry-box">
                                <div class="inquiry-text">

                                    <div class="inquiry-title">
                                        Заполните анкету
                                        <div class="pop_up_close_a" id="pop_up_close_a">&#10006</div>
                                    </div>
                                    <div class="inquiry-subtitle">
                                        Надеемся, ментор как можно скорее ответит на ваш запрос. Уведомление придет на
                                        почту и в Telegram.
                                    </div>
                                </div>

                                <div class="inquiry-top">
                                    <input type="text" class="field" placeholder="Имя" autocomplete="off">
                                    <input type="text" class="field" placeholder="Фамилия" autocomplete="off">
                                    <input type="email" class="field" placeholder="Your email" autocomplete="off">
                                    <input type="text" class="field" placeholder="Telegram @" autocomplete="off">
                                </div>

                                <div class="inquiry-bottom">
                                    <div class="inquiry-subtitle">Выберите дату встречи:</div>
                                    <input type="date" id="date" class="date">


                                    <div class="inquiry-button">
                                        <button class="inquiry-btn">Отправить заявку</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</header>


<div class="footer" style="background-color: #fcf8f2;">
    <a href="https://t.me/dns_mentor_bot"
       style="color: #fd890a; text-decoration: none; font-weight: 600; font-size: 4vh;">Telegram bot</a>
    <span style="font-size: 3.5vh; padding: 0 .5vw;">|</span>
    <a href="https://www.dns-shop.ru/" style="color: #fd890a; text-decoration: none; font-weight: 600; font-size: 4vh;">DNS</a>
    <br><br>
    <span style="font-weight: 600; font-size: 5vh; color: #333322;">Удачной встречи!</span>
    <br>
</div>

<!-- <script src="styles/js/main.js"></script>-->
<!-- <script src="styles/js/burger.js"></script>-->

<script src="{% static 'styles/js/main.js' %}"></script>
<script src="{%static 'styles/js/burger.js' %}"></script>

</body>
</html>
