<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>DNS Mentor</title>

<!--    <link rel="stylesheet" href="styles/css/catalog.css">-->
     <link rel="stylesheet" href="{% static 'styles/css/catalog.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<!--    <script type="text/javascript" src="styles/js/multiselect-dropdown.js"></script> &lt;!&ndash; скрипт для дропдауна фильтров &ndash;&gt;-->
     <script type="text/javascript" src="{% static 'styles/js/multiselect-dropdown.js' %}"></script>


  </head>
  <body>
  
		<header class="header">
      <div class="container">
        <div class="header_inner">
          <div class="header_logo">
<!--            <a href="index.html" class="nav_logo"><img src="styles/images/logo.svg"></a>-->
             <a href="index.html" class="nav_logo"><img src="{% static 'styles/images/logo.svg' %}"></a>
          </div>
            <nav class="nav">
              <a class="nav_link" href="catalog.html">Каталог</a>
              <a class="nav_link" href="#">Стать ментором</a>
            </nav>
  
            <div class="burger-menu">
  
              <button id="burger">
<!--                <img src="styles/images/menu-icon.svg" alt="">-->
                 <img src="{% static 'styles/images/menu-icon.svg' %}" alt="">
              </button>
  
  
              <div id="menu" class="burger-slide disp">
                <a class="nav_link block" href="catalog.html">Каталог</a>
                <a class="nav_link block" href="#">Стать ментором</a>
              </div>
  
            </div>
        </div> 
      </div> 
    </header>

    <div class="catalog">
      <div class="container">
        
        <div class="catalog-title">Каталог менторов</div>

        <div class="input-holder">

        
        <fieldset class="search-container">
          <div class="input-box">
            <input type="text" placeholder="Поиск по сфере, скиллу или программе" class="field" />
          </div>
          
          <div class="icons-container">
            <div class="icon-search">
<!--              <img src="styles/images/search.svg">-->
               <img src="{% static 'styles/images/search.svg' %}">
            </div>
          </div>
        </fieldset>

        <select name="select" multiple multiselect-search="true" multiselect-max-items="10" placeholder='Сфера'>
            <option>Data Science</option>
            <option>Frontend</option>
            <option>Backend</option>
        </select>

        <select name="select" multiple multiselect-search="true" multiselect-max-items="10" placeholder='Цена'>
          <option>Бесплатно</option>
          <option>1-1000 рублей</option>
          <option>1000-2000 рублей</option>
          <option>2000-5000 рублей</option>
          <option>5000-8000 рублей</option>
          <option>По договорённости</option> 
      </select>

      <select name="select" multiple multiselect-search="true" multiselect-max-items="10" placeholder='Опыт'>
        <option>Меньше года</option>
        <option>1 год</option>
        <option>2 года</option>
        <option>3 года</option>
        <option>4 года</option>
        <option>5 лет</option>
        <option>6 лет</option>   
        <option>7 лет</option>  
        <option>8 лет</option>  
        <option>9 лет</option> 
        <option>10 лет</option>   
    </select>
        

        

        </div>

        <div class="catalog-cards">

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
<!--                <img class="card-background" src="styles/images/placeholder-cat.jpg">-->
                 <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}">
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
<!--                    <img src="styles/images/card-exp.png">-->
                     <img src="{% static 'styles/images/card-exp.png' %}">
                    5 лет
                  </div>

                  <div class="card-price">
<!--                    <img src="styles/images/card-money.png">-->
                     <img src="{% static 'styles/images/card-money.png' %}">
                    5000 P
                  </div>

                  <div class="card-people">
<!--                    <img src="styles/images/card-users.png">-->
                     <img src="{% static 'styles/images/card-users.png' %}">
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend, UI/UX дизайнUI/UX дизайнUI/UX дизайнUI/UX дизайн</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend, UI/UX дизайнUI/UX дизайнUI/UX дизайнUI/UX дизайн</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

          <a href="#" class="card">
            <div class="card-content">
              <div class="card-background">
                <img class="card-background" src="styles/images/placeholder-cat.jpg">
                <!-- <img class="card-background" src="{% static 'styles/images/placeholder-cat.jpg' %}"> -->
              </div>
  

              <div class="card-text">

                <div class="card-main-text">
                  <div class="card-name">Майк Вазовски</div>
                  <div class="card-desc">Дизайн, Data Science, Backend</div>
                </div>
                

                <div class="card-stats">

                  <div class="card-experience">
                    <img src="styles/images/card-exp.png">
                    <!-- <img src="{% static 'styles/images/card-exp.png' %}"> -->
                    5 лет
                  </div>

                  <div class="card-price">
                    <img src="styles/images/card-money.png">
                    <!-- <img src="{% static 'styles/images/card-money.png' %}"> -->
                    5000 P
                  </div>

                  <div class="card-people">
                    <img src="styles/images/card-users.png">
                    <!-- <img src="{% static 'styles/images/card-users.png' %}"> -->
                    54 человека
                  </div>

                </div>
              </div>
            </div>
          </a>

        </div>


      </div>
    </div>

    <script src="styles/js/burger.js"></script>
    <!-- <script src="{% static 'styles/js/burger.js' %}"></script> -->
  </body>
</html>