<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DNS Mentor</title>

    <link rel="stylesheet" href="css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  </head>
  <body>

    <!--<div class="header">

        <div class="container">
          <div class="header-line">
            <div class="header-logo">
              <img src="images/logo.svg" alt="">
            </div>

            <div class="nav">
              <a class="nav-item" href="*">Каталог</a>
              <a class="nav-item" href="*">Стать ментором</a>
            </div>

          </div>
      </div>

    </div>-->
     
    
	<header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="header_logo">
					<a href="index.html" class="nav_logo"><img src="images/logo.svg"></a>
				</div>
					<nav class="nav">
						<a class="nav_link" href="catalog.html">Каталог</a>
						<a class="nav_link" href="#">Стать ментором</a>
					</nav>

          <div class="burger-menu">

            <button id="burger">
              <img src="images/menu-icon.svg" alt="">
            </button>


            <div id="menu" class="burger-slide disp">
              <a class="nav_link block" href="catalog.html">Каталог</a>
              <a class="nav_link block" href="#">Стать ментором</a>
            </div>

          </div>
			</div> 
		</div> 
	</header>

    <div class="introduction">
      <div class="container">
        <div class="introduction-holder">

          <div class="introduction-image">
            <img src="images/introduction-art.svg" alt="">
          </div>
          
          <div class="introduction-info">
            <div class="introduction-logo">
              <img src="images/introduction-logo.svg" alt="">
            </div>

            <div class="introduction-desc">
              Добро пожаловать в <span>DNS Mentor</span> - лучший
  сервис поиска менторов в вашей области!

  Наш сервис помогает вам найти опытного ментора, который
  поможет вам развиваться в вашей профессиональной области.
  Мы соединяем вас с менторами, которые имеют
  опыт работы в вашей области
  и готовы поделиться своим опытом и знаниями.
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="tutorial">
      <div class="container">

        <div class="tutorial-title">Как найти ментора?</div>

        <div class="tutorial-cards">
          <div class="cards-holder">

            <div class="tutorial-card">

              <div class="card-title">
                <div class="card-number">
                  1
                </div>

                <div class="card-title-text">
                  Выберите ментора
                </div>
              </div>

              <div class="card-image">
                <img class="card-img" src="images/mentor-card.svg">
              </div>

              <div class="card-desc">
                С нами сотрудничают самые разные люди с самыми разными талантами. В DNS Mentor Вы обязательно найдёте себе подходящего наставника.
              </div>

            </div>

            <div class="tutorial-card">

              <div class="card-title">
                <div class="card-number">
                  2
                </div>

                <div class="card-title-text">
                  Оставьте заявку на сайте
                </div>
              </div>

              <div class="card-image">
                <img class="card-img" src="images/mentor-card.svg">
              </div>

              <div class="card-desc">
                Мы перешлём ее выбранному Вами ментору.
  Опишите свои вопросы как можно подробнее - это поможет ментору лучше разобраться в ваших проблемах.
              </div>

            </div>

            <div class="tutorial-card">

              <div class="card-title">
                <div class="card-number">
                  3
                </div>

                <div class="card-title-text">
                  Начните занятия
                </div>
              </div>

              <div class="card-image">
                <img class="card-img" src="images/mentor-card.svg">
              </div>

              <div class="card-desc">
                Мы перешлём твою заявку ментору. Он оценит задачу и свяжется с тобой, чтобы обсудить детали и выбрать время. Каждый ментор сам определяет стоимость и длительность сессии.
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

    </div>

    <script src="js/burger.js"></script>
  </body>
</html>