<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>DNS Mentor</title>

    <!-- <link rel="stylesheet" href="styles/css/styles.css"> -->
    <link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  </head>
  <body>

  
	<header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="header_logo">
					<!-- <a href="index.html" class="nav_logo"><img src="styles/images/logo.svg"></a> -->
          <a href="index.html" class="nav_logo"><img src="{% static 'styles/images/logo.svg' %}"></a>   для сервера (дальнейшие ссылки по такому же принципу)  
				</div>
					<nav class="nav">
						<a class="nav_link" href="catalog.html">Каталог</a>
						<a class="nav_link" href="#" id="open_pop_up">Стать ментором</a>
					</nav>
          <div class="pop_up" id="pop_up">
            <div class="pop_up_container">
              <div class="pop_up_body" id="pop_up_body">
                <p class="temp">Заполните <span class="text">анкету</span></p>
                <p1 class="main">После отправления запроса мы его тщательно осмотрим,</p1>
                <br>
                <p1 class="man">  если он будет принят, вам в Telegram придёт оповещение.</p1>
              
                <form action="">
                  <div class="btn-group">
                    <input type="text" class="name" placeholder="Имя">
                    <input type="text" class="surname" placeholder="Фамилия">
                  </div>
        
                  <div class="btn-group">
                    <input type="text" class="telegram" placeholder="@Telegram">
                    <input type="text" class="email" placeholder="E-mail">
                  </div>
        
                  <div class="btn-group">
                    <input type="text" class="price" placeholder="цена услуги">
                    <input type="text" class="experience" placeholder="опыт работы">
                  </div>
                  
                
                  <textarea class="field" placeholder="Сферы(через запятую)"></textarea>
                  <textarea class="about" placeholder="О себе"></textarea>
                  <p class="add">Добавьте фотографию(png, jpeg)</p>
                  
                  <input type="file" class="photo">
                  
                  
                  
                  <button>отправить</button>
        
                </form>
                <div class="pop_up_close" id="pop_up_close">&#10006</div>
              </div>
            </div>
          </div>
          <div class="burger-menu">

            <button id="burger">
              <!-- <img src="styles/images/menu-icon.svg" alt=""> -->
              <img src="{% static 'styles/images/menu-icon.svg' %}" alt="">
            </button>


            <div id="menu" class="burger-slide disp">
              <a class="nav_link block" href="catalog.html">Каталог</a>
              <a class="nav_link block" href="#" id="open_pop_up">Стать ментором</a>
            </div>

          </div>
			</div> 
      
		</div> 
	</header>

    <div class="introduction">
      <div class="container">
        <div class="introduction-holder">

          <div class="introduction-image">
            <!-- <img src="styles/images/introduction-art.svg" alt=""> -->
            <img src="{% static 'styles/images/introduction-art.svg' %}" alt="">
          </div>
          
          <div class="introduction-info">
            <div class="introduction-logo">
              <!-- <img src="styles/images/introduction-logo.svg" alt=""> -->
              <img src="{% static 'styles/images/introduction-logo.svg' %}" alt="">
            </div>

            <div class="introduction-desc">
              Добро пожаловать в <span>DNS Mentor</span> - лучший
  сервис поиска менторов в вашей области!

  Наш сервис помогает вам найти опытного ментора, который
  поможет вам развиваться в вашей профессиональной области.
  Мы соединяем вас с менторами, которые имеют
  опыт работы в вашей области
  и готовы поделиться своим опытом и знаниями.
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="tutorial">
      <div class="container">

        <div class="tutorial-title">Как найти ментора?</div>

        <div class="tutorial-cards">
          <div class="cards-holder">

            <div class="tutorial-card">

              <div class="card-title">
                <div class="card-number">
                  1
                </div>

                <div class="card-title-text">
                  Выберите ментора
                </div>
              </div>

              <div class="card-image">
                <!-- <img class="card-img" src="styles/images/mentor-card.svg"> -->
                <img class="card-img" src="{% static 'styles/images/mentor-card.svg' %}">
              </div>

              <div class="card-desc">
                С нами сотрудничают самые разные люди с самыми разными талантами. В DNS Mentor Вы обязательно найдёте себе подходящего наставника.
              </div>

            </div>

            <div class="tutorial-card">

              <div class="card-title">
                <div class="card-number">
                  2
                </div>

                <div class="card-title-text">
                  Оставьте заявку на сайте
                </div>
              </div>

              <div class="card-image">
                <!-- <img class="card-img" src="styles/images/mentor-card.svg"> -->
                <img class="card-img" src="{% static 'styles/images/mentor-card.svg' %}">
              </div>

              <div class="card-desc">
                Мы перешлём ее выбранному Вами ментору.
  Опишите свои вопросы как можно подробнее - это поможет ментору лучше разобраться в ваших проблемах.
              </div>

            </div>

            <div class="tutorial-card">

              <div class="card-title">
                <div class="card-number">
                  3
                </div>

                <div class="card-title-text">
                  Начните занятия
                </div>
              </div>

              <div class="card-image">
                <!-- <img class="card-img" src="styles/images/mentor-card.svg"> -->
                <img class="card-img" src="{% static 'styles/images/mentor-card.svg' %}">
              </div>

              <div class="card-desc">
                Мы перешлём твою заявку ментору. Он оценит задачу и свяжется с тобой, чтобы обсудить детали и выбрать время. Каждый ментор сам определяет стоимость и длительность сессии.
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="faq">

      <div class="faq-title">Часто задаваемые вопросы</div>
      
      <div class="faq-block">
        <div class="question">
          Как узнать о менторе подробнее?
        </div>

        <div class="answer">
          В каталоге у каждого ментора есть своя карточка. Нажав на нее, Вы сможете увидеть подробную информацию о менторе.
        </div>
      </div>

      <div class="faq-block">
        <div class="question">
          Как стать ментором?
        </div>

        <div class="answer">
          Сверху слева есть надпись «Стать ментором». Нажав на неё, Вам откроется анкета, заполнив которую у Вас есть шанс стать ментором.
        </div>
      </div>

      <div class="faq-block">
        <div class="question">
          Как скоро я попаду в каталог?
        </div>

        <div class="answer">
          Модерация работает круглые сутки и ответит на Вашу заявку как можно скорее.
        </div>
      </div>

      <div class="faq-block">
        <div class="question">
          Как происходит коммуникация между мной и ментором?
        </div>

        <div class="answer">
          Вся коммуникация происходит через Телеграмм-бота, точнее он даёт Вам понять текущее состояние о Ваших заявках.
        </div>
      </div>

      <div class="faq-block">
        <div class="question">
          Нет Телеграмма. Что делать?
        </div>

        <div class="answer">
          Если у Вас нет Телеграмма, то бот отправляет информацию на указанную Вами почту. Но настоятельно рекомендуем перед началом работы с сервисом всё-таки перейти в Телеграмм-бота и нажать /start.
        </div>
      </div>

      <div class="faq-block">
        <div class="question">
          Что означает количество человек на карточке ментора и как оно считается?
        </div>

        <div class="answer">
          Это количество людей, которым ментор помог. После случившееся встречи, на следующий день Вам, как пользователю, отправляется сообщение о полезности встречи. Если ответ «Да», то ментору начисляется +1, если нет ответа в течение суток, то ментор получает +0,5 к общему счётчику.
        </div>
      </div>

    </div>

    </div>

    <div class="footer">
      <a href="https://t.me/fredy129053" class="links">Telegram bot</a>
      <span>|</span>
      <a href="#" class="likns">DNS</a>
      <br><br>
      <span>Удачной встречи!</span>
    </div>
    <!-- <script src="styles/js/main.js"></script> -->
    <!-- <script src="styles/js/burger.js"></script> -->

    <script src="{% static 'styles/js/main.js' %}"></script>
    <script src="{%static 'styles/js/burger.js' %}"></script> 
  </body>
</html>