<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Страница ментора</title>

     <link rel="stylesheet" href="styles/css/mentor.css">
     <!-- <link rel="stylesheet" href="{% static 'styles/css/mentor.css' %}"> -->

     <link rel="stylesheet" href="styles/css/inquiry.css">
     <!-- <link rel="stylesheet" href="{% static 'styles/css/inquiry.css' %}"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

</head>
<body>

  <header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="header_logo">
					<a href="index.html" class="nav_logo"><img src="styles/images/logo.svg"></a>
          <!-- <a href="index.html" class="nav_logo"><img src="{% static 'styles/images/logo.svg' %}"></a>   -->
				</div>
					<nav class="nav">
						<a class="nav_link" href="catalog.html">Каталог</a>
						<a class="nav_link" href="inquiry.html" id="open_pop_up">Стать ментором</a>
					</nav>

          <div class="burger-menu">

            <button id="burger">
              <img src="styles/images/menu-icon.svg" alt="">
              <!-- <img src="{% static 'styles/images/menu-icon.svg' %}" alt=""> -->
            </button>


            <div id="menu" class="burger-slide disp">
              <a class="nav_link block" href="catalog.html">Каталог</a>
              <a class="nav_link block" href="inquiry.html" id="open_pop_up_burger">Стать ментором</a>
            </div>

          </div>
			</div> 
      
      <div class="pop_up" id="pop_up">
        <div class="inquiry-box">
            <div class="inquiry-text">

                <div class="inquiry-title">
                    Заполните анкету
                    <div class="pop_up_close" id="pop_up_close">&#10006</div>
                </div>
                <div class="inquiry-subtitle">
                    После отправления запроса мы его тщательно осмотрим. Если он будет принят, Вам придёт оповещение
                    в Telegram.
                </div>
            </div>
            <form action="{% url 'full' %}" method="post" name="mentor">
                 {% csrf_token %}
                <div class="inquiry-top">
                    <input type="text" name="first_name" class="field" placeholder="Имя" autocomplete="off">
                    <input type="text" name="last_name" class="field" placeholder="Фамилия" autocomplete="off">
                    <input type="email" name="email" class="field" placeholder="Your email" autocomplete="off">
                    <input type="text" name="telegram" class="field" placeholder="Telegram @" autocomplete="off">
                    <input type="text" name="price" class="field" placeholder="Цена услуги(в рублях)" autocomplete="off">
                    <input type="text" name="exp" class="field" placeholder="Опыт работы(начиная с 1, целое число)" autocomplete="off">
                </div>

                <div class="inquiry-bottom">
                    <input type="text" name="profession" class="field" placeholder="Сферы (перечислите через запятую)">
                    <input type="text" name="about_me" class="field" placeholder="Расскажите о себе">

                    <label for="images" class="drop-container">
                        <span class="drop-title">Перетащите фото</span>
                        или
                        <input type="file" id="images" accept="image/*">
                    </label>

                    <div class="inquiry-button">
                        <button class="inquiry-btn" type="submit">Отправить заявку</button>
                    </div>
                </div>
            </form>
        </div>

		</div>

	</header>

    <div class="info">
      <div class="container">

        <div class="info-holder">
        <div class="info-left">

          <div class="img-mobile">
            <img class="image" src="styles/images/23oQj0MKQy8.jpg" alt="">
            <!-- <img class="image" src="{% static 'styles/images/23oQj0MKQy8.jpg' %}" alt=""> -->
        </div>

        <div class="mentor-name">
            Иванов Илья Сергеевич
        </div>

        <div class="mentor-fields">
            данные из сервера данные из сервера данные из сервера
        </div>

        <div class="mentor-stats">

          <div class="mentor-experience">

            Опыт работы:
            <div class="mentor-exp"> данные из сервера</div>

          </div>

          <div class="mentor-money">

            Цена услуги:
            <div class="mentor-mon"> данные из сервера</div>

          </div>

          <div class="mentor-helped">

            Получили помощь:
            <div class="mentor-help"> данные из сервера</div>

          </div>

        </div>

        

        <div class="button">
          <a href="#" id="open_pop_up_a">Оставить заявку</a>
        </div>

        </div>

        <div class="pop_up_a" id="pop_up_a">
          <div class="inquiry-box">
              <div class="inquiry-text">
                
                <div class="inquiry-title">
                  Заполните анкету
                  <div class="pop_up_close_a" id="pop_up_close_a">&#10006</div>
                </div>
                <div class="inquiry-subtitle">
                  Надеемся, ментор как можно скорее ответит на ваш запрос. Уведомление придет на почту и в Telegram.
                </div>
              </div>
    
              <div class="inquiry-top">
                <input type="text" class="field" placeholder="Имя" autocomplete="off">
                <input type="text" class="field" placeholder="Фамилия" autocomplete="off">
                <input type="email" class="field" placeholder="Your email" autocomplete="off">
                <input type="text" class="field" placeholder="Telegram @" autocomplete="off">
              </div>
    
              <div class="inquiry-bottom">
                <div class="inquiry-subtitle">Выберите дату встречи:</div>
                <input type="date" id="date" class="date">
                    
    
              <div class="inquiry-button">
                <button class="inquiry-btn">Отправить заявку</button>
              </div>
    

                
            </div>
        </div>
        
  
      </div>

        <div class="info-right">

        <div class="img">
            <img class="image" src="styles/images/23oQj0MKQy8.jpg" alt="">
            <!-- <img class="image" src="{% static 'styles/images/23oQj0MKQy8.jpg' %}" alt=""> -->
        </div>

        </div>

        </div>

        
        </div>
    </div>
    <div class="mentor-about">
      <div class="container">
        <p class="myself">О себе</p>
        <p class="skills">
            Имею высшее образование в области разработки игр и большое количество курсов и тренингов, направленных на повышение квалификации в различных технических и менеджмент-направлениях. Общий опыт работы в игровой индустрии более 10 лет, в том числе более 5 лет на руководящих позициях.
            <br><br>
            Последние 3 года работал в студии "Игровые Системы", где занимал должность технического директора. В штате более 50 сотрудников, включая программистов, художников, дизайнеров и тестировщиков. Одной из ключевых задач было внедрение микросервисной архитектуры для улучшения масштабируемости и гибкости разработки.
            <br><br>
            Базовый стек технологий включал: C++, Unity, Unreal Engine, Python, Git, JIRA.
            <br><br>
            В настоящее время работаю главным техническим директором в студии "Новые Игры", где занимаюсь вопросами создания и развития структуры отдела разработки игр, аудитом и оптимизацией процессов разработки, постановкой целей для команды, и обеспечением целевых показателей по продажам игр.
            <br><br>
            Уверен, что ключевыми составляющими успеха для геймдевелопера являются: люди, процессы и продукт. Основное внимание необходимо уделить людям, их мотивации и энтузиазму, так как именно они являются связующим звеном между процессами и продуктом.
            <br><br>
            Мои компетенции включают: управление проектами, руководство командой, постановка целей, оптимизация процессов разработки, анализ рынка игровой индустрии и управление производственными ресурсами.
            <br><br>
            Чем я могу помочь:
            <br><br>
        </p>
        <ul class="help">
            <li>Создание эффективной структуры отдела разработки игр;</li>
            <li>Постановка целей и оценка результатов команды;</li>
            <li>Установление эффективного взаимодействия между разработкой и другими отделами студии;</li>
            <li>Внедрение системы постановки целей OKR;</li>
            <li>Подбор и адаптация членов команды, с учетом ценностей компании;</li>
        </ul>
      </div>
    </div>
    <div class="footer" style="background-color: #fcf8f2;">
    <a href="https://t.me/dns_mentor_bot"
       style="color: #fd890a; text-decoration: none; font-weight: 600; font-size: 4vh;">Telegram bot</a>
    <span style="font-size: 3.5vh; padding: 0 .5vw;">|</span>
    <a href="https://www.dns-shop.ru/" style="color: #fd890a; text-decoration: none; font-weight: 600; font-size: 4vh;">DNS</a>
    <br><br>
    <span style="font-weight: 600; font-size: 5vh; color: #333322;">Удачной встречи!</span>
    <br>
</div>

    <script src="styles/js/main.js"></script>
    <script src="styles/js/burger.js"></script>

    <!-- <script src="{% static 'styles/js/main.js' %}"></script>
    <script src="{%static 'styles/js/burger.js' %}"></script> -->
</body>
</html>