<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница ментора</title>

    <link rel="stylesheet" href="styles/css/mentor.css">
    <!-- <link rel="stylesheet" href="{% static 'styles/css/mentor.css' %}"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
		<div class="container">
			<div class="header_inner">
				<div class="header_logo">
					<a href="index.html" class="nav_logo"><img src="styles/images/logo.svg"></a>
          <!-- <a href="index.html" class="nav_logo"><img src="{% static 'styles/images/logo.svg' %}"></a> -->
				</div>
					<nav class="nav">
						<a class="nav_link" href="catalog.html">Каталог</a>
						<a class="nav_link" href="#" id="open_pop_up_a">Стать ментором</a>
					</nav>
                    <div class="pop_up_a" id="pop_up_a">
                        <div class="pop_up_container_a">
                          <div class="pop_up_body_a" id="pop_up_body">
                            <p class="temp_a">Заполните <span class="text_a">анкету</span></p>
                            <p1 class="main_a">После отправления запроса мы его тщательно осмотрим,</p1>
                            <br>
                            <p1 class="man_a">  если он будет принят, вам в Telegram придёт оповещение.</p1>
                          
                            <form action="">
                              <div class="btn-group">
                                <input type="text" class="name_a" placeholder="Имя">
                                <input type="text" class="surname_a" placeholder="Фамилия">
                              </div>
                    
                              <div class="btn-group">
                                <input type="text" class="telegram_a" placeholder="@Telegram">
                                <input type="text" class="email_a" placeholder="E-mail">
                              </div>
                    
                              <div class="btn-group">
                                <input type="text" class="price_a" placeholder="цена услуги">
                                <input type="text" class="experience_a" placeholder="опыт работы">
                              </div>
                              
                            
                              <textarea class="field_a" placeholder="Сферы(через запятую)"></textarea>
                              <textarea class="about_a" placeholder="О себе"></textarea>
                              <p class="add_a">Добавьте фотографию(png, jpeg)</p>
                              
                              <input type="file" class="photo_a">
                              
                              
                              
                              <button>отправить</button>
                    
                            </form>
                            <div class="pop_up_close_a" id="pop_up_close_a">&#10006</div>
                          </div>
                        </div>
                      </div>
			</div>
		</div>
	</header>

    <div class="info">
        <p class="name">
            Иванов Илья Сергеевич
        </p>
        <p class="spheres">
            дизайн, разработка приложений, ебырь твоей мамы, собутыльник твоего деда, поддельник бати
        </p>
        <ul class="list">
            <li>Опыт работы:</li>
            <li>Цена услуги:</li>
            <li>Получили помощь:</li>
        </ul>
        <div class="img">
            <img class="image" src="styles/images/23oQj0MKQy8.jpg" alt="">
            <!-- <img class="image" src="{% static 'styles/images/23oQj0MKQy8.jpg' %}" alt=""> -->
        </div>
        <div class="button">
            <a href="#" id="open_pop_up">оставить заявку</a>
        </div> 
        <div class="pop_up" id="pop_up">
            <div class="pop_up_container">
              <div class="pop_up_body" id="pop_up_body">
                <p class="temp">Заполните <span class="text">заявку</span></p>
                <p1 class="main">Надеемся, ментор как можно скорее ответит на ваш запрос.</p1>
                <br>
                <p1 class="man">Уведомление придет на почту или в телеграм.</p1>
              
                <form action="">
                  <div class="btn-group">
                    <input type="text" class="name_blank" placeholder="Имя">
                    <input type="text" class="surname" placeholder="Фамилия">
                  </div>
        
                  <div class="btn-group">
                    <input type="text" class="telegram" placeholder="@Telegram">
                    <input type="text" class="email" placeholder="E-mail">
                  </div>
                  
                  <p>
                    <label for="date" class="label">Дата встречи:</label>
                    <input type="date" id="date" class="date">
                  </p>

                  <button>отправить</button>
        
                </form>
                <div class="pop_up_close" id="pop_up_close">&#10006</div>
              </div>
            </div>
          </div>
    </div>
    <div class="about">
        <p class="myself">О себе</p>
        <p class="skills">
            Имею высшее образование в области разработки игр и большое количество курсов и тренингов, направленных на повышение квалификации в различных технических и менеджмент-направлениях. Общий опыт работы в игровой индустрии более 10 лет, в том числе более 5 лет на руководящих позициях.
            <br><br>
            Последние 3 года работал в студии "Игровые Системы", где занимал должность технического директора. В штате более 50 сотрудников, включая программистов, художников, дизайнеров и тестировщиков. Одной из ключевых задач было внедрение микросервисной архитектуры для улучшения масштабируемости и гибкости разработки.
            <br><br>
            Базовый стек технологий включал: C++, Unity, Unreal Engine, Python, Git, JIRA.
            <br><br>
            В настоящее время работаю главным техническим директором в студии "Новые Игры", где занимаюсь вопросами создания и развития структуры отдела разработки игр, аудитом и оптимизацией процессов разработки, постановкой целей для команды, и обеспечением целевых показателей по продажам игр.
            <br><br>
            Уверен, что ключевыми составляющими успеха для геймдевелопера являются: люди, процессы и продукт. Основное внимание необходимо уделить людям, их мотивации и энтузиазму, так как именно они являются связующим звеном между процессами и продуктом.
            <br><br>
            Мои компетенции включают: управление проектами, руководство командой, постановка целей, оптимизация процессов разработки, анализ рынка игровой индустрии и управление производственными ресурсами.
            <br><br>
            Чем я могу помочь:
            <br><br>
        </p>
        <ul class="help">
            <li>Создание эффективной структуры отдела разработки игр;</li>
            <li>Постановка целей и оценка результатов команды;</li>
            <li>Установление эффективного взаимодействия между разработкой и другими отделами студии;</li>
            <li>Внедрение системы постановки целей OKR;</li>
            <li>Подбор и адаптация членов команды, с учетом ценностей компании;</li>
        </ul>
    </div>
    <div class="footer">
        <a href="https://t.me/fredy129053" class="links">Telegram bot</a>
        <span>|</span>
        <a href="#" class="likns">DNS</a>
        <br><br>
        <span>Удачной встречи!</span>
        <br>
        <img src="static 'styles/images/Handshake.svg" alt="встреча" width="50%" height="150%">
        <!-- <img src="{% static 'styles/images/Handshake.svg' %}" alt="встреча" width="50%" height="150%"> -->
    </div>

<script src="styles/js/main.js"></script>
<!-- <script src="%{ static 'styles/js/main.js' %}"></script> -->
</body>
</html>