body{
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: #333333;
}

.container{
  margin: 0px 90px;
}

.header {
	height: 10%;
	background-color: #fff;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

  padding-top: 2%;
  padding-bottom: 2%;
}

.nav {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 23px;
}


.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 1vw;

	text-decoration: none;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #8C8C8C;
  text-decoration: none;

  transition: color 0.1s ease-in;

	
}

.nav_link:hover {
	color: #333333;
	font-weight: 700;
  animation: font-weight-animation 0.1s ease-in;
}

.nav_link:active{
  color: #FD890A;
}

/* анимация плавного увеличения жирности текста в меню при наведении */
@keyframes font-weight-animation {
  from {
    font-weight: 400;
  }
  to {
    font-weight: 700;
  }
}


.info{ 
    height: 100%;
    background-color: #F7F7F7;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.info-holder{
  display: flex;
  justify-content: center;
  gap: 10%;
}

.mentor-name{
    font-family: 'PT Sans';
    font-size: 4vb;
    font-weight: 700;
    margin-bottom: 2%;
}

.mentor-fields{
    font-family: 'PT Sans';
    font-size: 2.5vb;
    font-weight: 400;
    margin-bottom: 2%;
}


.mentor-stats{
    font-family: 'PT Sans';
    font-size: 3vb;
    font-weight: 700;  

    list-style: none;
}

.mentor-experience{
  display: flex;
}

.mentor-money{
  display: flex;
}

.mentor-helped{
  display: flex;
}

.mentor-exp{
  font-weight: 400;
}

.mentor-mon{
  font-weight: 400;
}

.mentor-help{
  font-weight: 400;
}

.img-mobile{
  display: none;
}

.image{
    object-fit: cover;
    width: 50vh;
    height: 50vh;
    border-radius: 5vb;
    box-shadow: 0.1vb 0.1vb 1vb 1vb  rgba(0, 0, 0, 0.25);
}


.button{ 
    margin-top: 7%;
    
}
      
.button a{
    font-family: 'PT Sans';
    font-size: 2.5vb;
    background: linear-gradient(180deg, #FFA218 0%, #FC8507 100%);
    padding: 1.5% 7%;
    border-radius: 1vb;
    text-decoration: none;
    color: white;
    font-weight: 700;
}


.button a:active{
    font-family: 'PT Sans';
    font-size: 2.5vb;
    background: linear-gradient(to bottom, rgb(197, 121, 0), rgb(150, 83, 0));
    padding: 1.5% 7%;
    border-radius: 1vb;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.852);
    font-weight: 700;
}

.myself{
    font-family: PT Sans;
    font-size: 5vb;
    font-weight: 700;
    color: #FD890A;
    padding: 1% 4%;
}

.skills{
    font-family: 'PT Sans';
    font-size: 2.7vb;
    font-weight: 500;   
    margin-top: -1%;
    margin-left: 4%;
    padding-right: 10%;
}

.help{
    font-family: 'PT Sans';
    font-size: 2.7vb;
    font-weight: 500;
    margin: -2% 2.5%;
    padding:0;
    list-style: none;
}
.help li{
    padding: 1% 40% 1% 1%;
}
.help li:before {
    padding-right:10px;
    font-weight: bold;
    color: #ffa200;
    content: "\2606";
    transition-duration: 0.5s;
}
.help li:hover:before {
    color: #ffa200;
    content: "\2605";
}

.mentor-about{
  background-color: #FFEACF;
  padding: 1vh 0 5% 0;
}

.footer{
    height: 20vh;
    background-color: #F7F7F7;
    text-align: center;
    padding: 5% 0 15% 0;
    font-family: 'PT Sans';
    font-size: 3vb;
    font-weight: 500;
}

/* адаптивка */



.burger-menu{
  display: none;
}

.block{
  display: block;
  margin-bottom: 5%;
}

.burger-slide{
  position: absolute;

  background: #F7F7F7;
  box-shadow: 0px 1.23485px 12.3485px rgba(0, 0, 0, 0.21);

  border-radius: 15px;
  
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}

.disp{
  display: none;
}

@media (max-width: 1330px) {

  .cards-holder{
    display: grid;
    align-items: center;
  }

  .tutorial-card{
    width: 100%;
    margin-bottom: 2%;
    
  }

  .tutorial{
    height: 100%;
  }

  .introduction-holder{
    display: grid;
    align-items: center;
  }

  .introduction-image{
    margin-bottom: 30px;
  }

  .introduction{
    height: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
  }

}

@media (max-width: 994px) {

  .burger-menu{
    display: block;
  }

  .nav{
    display: none;
  }

  .header-inner{
    display: flex;
  }
}


@media (max-width: 950px){

  .info-holder{
    display: block;
  }

  .img-mobile{
    display: block;
    text-align: center;
    margin-bottom: 4%;
  }

  .image{
    height: 65%;
    width: 65%;
  }

  .img{
    display: none;
  }

}

/* анкета ментора */

.pop_up_body{
  margin: auto;
  width: 70vw;
  height: 60vh;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  padding: 100px 15px 110px 15px;
  position: relative;
  }
    
.temp{
      font-family: 'PT Sans';
      font-size: 30px;
      font-weight: 700;
      margin-top: -70px;
      margin-left: -700px;
      margin-bottom: 2vh;
    }
    
    .text {
    color: orange;
    }
    
    .main{
      font-family: 'PT Sans';
      font-size: 20px;
      font-weight: 100; 
      margin-left: -29vw;
    }
    
    
    .man {
        font-family: 'PT Sans';
        font-size: 20px;
        font-weight: 100; 
        margin-left: -28.2vw;
    }
    

    .add{
        font-family: 'PT Sans';
        font-size: 20px;
        font-weight: 100; 
        margin-left: 35vw;
        margin-top: -40%;
    }

    .photo{
      display: block;
      margin: -0.5% 2% 2% auto;
      border: none;
      border-radius: 2vb;
      width: 30vw;
      height: 52vh;
      background-color: rgb(125, 125, 125);
      box-shadow: inset 1px 1px 15px 10px   rgba(0, 0, 0, 0.25);
    }

    

    .name{
      display: inline-block;
      border: none;
      border-radius: 2vb;
      width: 14vw;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: -41%;
      margin-top: 1%;
      padding: 1.5vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
    }
    
    .surname{
      display: inline-block;
      border: none;
      border-radius: 2vb;
      width: 15vw;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: 1%;
      margin-top: 1%;
      padding: 1.5vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
    }
    
    .telegram{
      display: inline-block;
      border: none;
      border-radius: 2vb;
      width: 14vw;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: -41%;
      margin-top: 2%;
      padding: 1.5vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
    }
    
    .email{
      display: inline-block;
      border: none;
      border-radius: 2vb;
      width: 15vw;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: 1%;
      margin-top: 2%;
      padding: 1.5vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
    }

    .price{
      display: inline-block;
      border: none;
      border-radius: 2vb;
      width: 14vw;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: -41%;
      margin-top: 2%;
      padding: 1vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
    }

    .experience{
      display: inline-block;
      border: none;
      border-radius: 2vb;
      width: 15vw;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: 1%;
      margin-top: 2%;
      padding: 1vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
    }


    .about{
      display: block;
      border: none;
      border-radius: 2vb;
      width: 32vw;
      height: 10vh;
      background-color: white;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      margin-left: 5%;
      margin-top: 2%;
      padding: 1vh 1vw;
      font-family: 'PT Sans';
      font-size: 100%;
      font-weight: 100; 
      resize: none;
      outline: none;
      overflow: auto;
    }

    .pop_up_body button{
      border: none;
      cursor: pointer;
      display: block;
      width: 15vw;
      margin: 2% auto 0% auto;
      padding: 20px 0px;
      background-color: rgb(241, 132, 0);
      border-radius: 1vb;
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-family: 'PT Sans';
      font-size: 3vb;
    }

    .pop_up_body input:focus{
      outline: none;
    }
	
	.links{
          text-decoration: none;
          color: #FD890A;
        }